<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>

<div th:replace="layout/top::header"></div>
  <form role="form" action="/members/new" th:object="${memberForm}" method="post">
    <div>
        <label th:for="userId">Id</label>
        <input type="text" th:field="*{userId}" placeholder="Id를 입력하세요">
        <div th:errors="*{userId}">
            아이디 오류
        </div>
    </div>
      <div>
          <label th:for="userPassword">비밀번호</label>
          <input type="text" th:field="*{userPassword}" placeholder="비밀번호를 입력하세요">
          <div th:errors="*{userPassword}">
              비밀번호 오류
          </div>
      </div>
      <div>
          <label th:for="nickName">닉네임</label>
          <input type="text" th:field="*{nickName}" placeholder="닉네임을 입력하세요">
          <div th:errors="*{nickName}">
              닉네임 오류
          </div>
      </div>
      <div>
          <label th:for="name">이름</label>
          <input type="text" th:field="*{name}" placeholder="이름을 입력하세요">
      </div>
      <div>
          <label th:for="address">주소</label>
          <input type="text" th:field="*{address}" placeholder="주소를 입력하세요">
      </div>
      <div>
          <label th:for="birthday">생년월일</label>
          <input type="text" th:field="*{birthday}" placeholder="생년월일을 입력하세요">
      </div>
      <button type="submit">Submit</button>
  </form>
</div>

</body>
</html>