<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<div th:replace="layout/top::header"></div>
    <h1>new-board</h1>
    <p>회원기능</p>
    <p sec:authorize="isAnonymous()"><a th:href="@{/members/new}">회원가입</a></p>
    <p>게시글 기능</p>
    <p><a th:href="@{/posts}">게시글 목록</a></p>
    <p><a th:href="@{/posts/new}">게시글 작성</a></p>
    <p></p>


</body>

