<!DOCTYPE HTML>
<html>
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
</head>

<body>
    <h1>BOARD</h1>
    <p>회원 기능</p>
    <p>
        <a href="/members/new">회원 가입</a>
        <a href="/members">회원 목록</a>
    </p>
    <p class="lead">게시글</p>
    <p>
        <a href="/boards/new">게시글 등록</a>
        <a href="/boards">게시글 목록</a>
    </p>
    <p class="lead">로그인</p>
    <p>
        <a href="/login">로그인</a>
        <a href="/logout">로그아웃</a>
    </p>
</body>
</html>